@use "vuetify/lib/styles/main.sass";
@use "material-design-icons-iconfont/dist/material-design-icons.css";
@use "@fontsource/roboto";

html {
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: rgba(var(--v-theme-primary));
}